:root {
  /* theme colors */
  --white: #FFFFFF;
  --off-white: #F2F2F2;
  --txt-clr: #4C616C;
  --flora: #ACA9BB;
  --lime: #D4FAED;
  --melon: #9DC2B5;
  --sun: #FFF4DE;
  --night: #5F5C6D;

  /* theme fonts */
  --title-font: 'Lora', serif;
  --txt-font: 'Alef', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--title-font);
}

.app {
  background-color: var(--off-white);
}